/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
	color: #242424;
	font-size: 18px;
	line-height: 1.5;
	font-family: 'Lora', serif;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 36px;
	color: #3e606b;
}

h3 {
	font-size: 18px;
}

.obsah {
	max-width: 1100px;
	margin: 0 auto;
}

.hlavicka {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	padding: 30px 0;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu a {
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 20px; 
	color: #242424;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
	background-color: #f195b2;
	color: white;
}

.logo {
	width: 170px;
}

.section {
	margin: 0;
	padding: 80px 0;
	
}

.hero {
	background-image: url(images/cupcake.jpg);
	color: white;
	background-size: cover;
}

.hero .obsah {
	padding-right: 40%;
}

.hero p {
	font-style: italic;
}

.vitejte {
	background-color: azure;
}


.vitejte .obsah {
	display: flex;
	background-color: white;
	align-items: center;
}

.vitejte .levy {
	padding-left: 5px;
	padding-right: 30px;
}

.vitejte h2,
.vitejte p {
	margin: 20px 0;
}

.vitejte img,
.produkty img,
.pristup img {
	border-radius: 5px;
}

.vitejte .button {
	padding: 15px 40px;
	border-radius: 30px;
	background-color: #f195b2;
	color: white;
	text-decoration: none;
	margin: 20px 0;
	display: inline-block;
}

.vitejte a:hover,
.vitejte a:focus,
.vitejte a:active {
	background-color: #d2567d;
}

.nabidka {
	background-color: #f0f0f0;
}

.produkty {
	display: flex;
	max-width: 1100px;
	text-align: center;
}

.produkt {
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	flex-shrink: 1;
	min-width: 20%;
}

.produkt .dort {
	min-width: 0;
	min-height: 0;
	flex-shrink: 1;
	flex-basis: 20%;
}

.produkt h3,
.produkt p {
	margin: 0;
	padding-top: 20px;
}

.jedna,
.dva,
.tri {
	margin-right: 30px;
}


.pristup .obsah {
	display: flex;
}

.pristup .pravy {
	margin-left: 30px;
}



.paticka {
	padding: 30px 0;
	text-align: center;
	background-color: #303339;
	color: white;
}
